<!--
<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org">
&lt;!&ndash; BEGIN : Head&ndash;&gt;

<head>
    <head th:replace="fragments :: page_head"/>
    <title>List User</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/ico/favicon.ico}">
    &lt;!&ndash; END Page Level CSS&ndash;&gt;
</head>
&lt;!&ndash; END : Head&ndash;&gt;

&lt;!&ndash; BEGIN : Body&ndash;&gt;

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  navbar-sticky" data-open="hover"
      data-menu="horizontal-menu" data-col="2-columns">
<div th:replace="fragments :: page_header"/>
&lt;!&ndash; Navbar (Header) Ends&ndash;&gt;

&lt;!&ndash; ////////////////////////////////////////////////////////////////////////////&ndash;&gt;
<div class="wrapper">
    <div th:replace="fragments :: page_menu"/>


    <div class="main-panel">
        &lt;!&ndash; BEGIN : Main Content&ndash;&gt;
        <div class="main-content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <section class="users-list-wrapper">
                    &lt;!&ndash; Filter starts &ndash;&gt;
                    <div class="users-list-filter px-2">


                        <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                            <a class="btn btn-success bg-light-success mb-1"  th:href="@{/user/create}" ><i
                                    class="fa fa-plus mr-1"></i>Add User</a>
                        </div>
                    </div>

                    &lt;!&ndash; Filter ends &ndash;&gt;

                    &lt;!&ndash; Table starts &ndash;&gt;
                    <div class="users-list-table">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-content fw-container">
                                        <div class="card-body fw-body">
                                            &lt;!&ndash; Datatable starts &ndash;&gt;
                                            <div class="table-responsive content demo-html">
                                                <table id="example" class="table table-striped table-bordered file-export" style="width:100%">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Firstname</th>
                                                        <th>Lastname</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Role</th>
                                                        <th>Company</th>
                                                        <th>Status</th>
                                                        <th>Edit</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="user,row : ${users}">
                                                                 <td th:text="${row.count}"></td>
                                                                 <td class="text-truncate" th:text="${user.firstname}"></td>
                                                                 <td th:text="${user.lastname}"></td>
                                                                 <td th:text="${user.email}"></td>
                                                                 <td th:text="${user.phone}"></td>
                                                                 <td th:text="${user.role.name}"></td>
                                                                 <td th:text="${user.company.title}"></td>
                                                                 <td>
                                                                 <span
                                                                         th:if="${user.userStatus.value} eq 'On Mission'"
                                                                         class="badge bg-light-success"
                                                                         th:text="${user.userStatus.value}"
                                                                         ></span>
                                                                 <span
                                                                         th:if="${user.userStatus.value} eq 'Off Duty'"
                                                                         class ="badge bg-light-DANGER"
                                                                         th:text="${user.userStatus.value}"
                                                                         ></span>
                                                             </td>
                                                             <td>
                                                                 <a >
                                                                     <i class="ft-edit"></i>
                                                                 </a>
                                                             </td>
                                                         </tr>
                                                         </tbody>
                                                     </table>
                                                 </div>
                                                 &lt;!&ndash; Datatable ends &ndash;&gt;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; Table ends &ndash;&gt;
                </section>

            </div>
        </div>
        &lt;!&ndash; END : End Main Content&ndash;&gt;

        &lt;!&ndash; BEGIN : Footer&ndash;&gt;
    </div>
</div>
&lt;!&ndash; ////////////////////////////////////////////////////////////////////////////&ndash;&gt;


<footer th:replace="fragments :: page_footer"></footer>
<div class="sidenav-overlay"></div>
&lt;!&ndash; BEGIN PAGE LEVEL JS&ndash;&gt;
<script th:src="@{/js/dashboard2.js}"></script>
&lt;!&ndash; END PAGE LEVEL JS&ndash;&gt;
&lt;!&ndash; BEGIN: Custom CSS&ndash;&gt;
<script th:src="@{/assets/js/scripts.js}"></script>
&lt;!&ndash; END: Custom CSS&ndash;&gt;
</body>
&lt;!&ndash; END : Body&ndash;&gt;

</html>-->
