<!--
<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org">
&lt;!&ndash; BEGIN : Head&ndash;&gt;

<head>
    <head th:replace="fragments :: page_head"/>
    <title>Add User</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/ico/favicon.ico}">
</head>
&lt;!&ndash; END : Head&ndash;&gt;

&lt;!&ndash; BEGIN : Body&ndash;&gt;

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  navbar-sticky" data-open="hover"
      data-menu="horizontal-menu" data-col="2-columns">
<div th:replace="fragments :: page_header"/>
&lt;!&ndash; Navbar (Header) Ends&ndash;&gt;

&lt;!&ndash; ////////////////////////////////////////////////////////////////////////////&ndash;&gt;
<div class="wrapper">
    <div th:replace="fragments :: page_menu"/>


    <div class="main-panel">
        &lt;!&ndash; BEGIN : Main Content&ndash;&gt;
        <div class="main-content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <section class="users-list-wrapper">
                    &lt;!&ndash; Filter starts &ndash;&gt;
                    <div class="users-list-filter px-2">


                        <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                            <a class="btn btn-primary bg-light-primary mb-1" th:href="@{/user/list}" ><i
                                    class="fa fa-list mr-1"></i>User List</a>
                        </div>
                    </div>

                    &lt;!&ndash; Filter ends &ndash;&gt;

                    &lt;!&ndash; Table starts &ndash;&gt;


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">

                                        <div class="tab-content">
                                            &lt;!&ndash; Account content starts &ndash;&gt;
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">

                                                &lt;!&ndash; Account form starts &ndash;&gt;
                                                <form novalidate th:method="post" th:action="@{/user/create}" th:object="${users}">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-username">Firstname</label>
                                                                    <input type="text" id="users-edit-username"
                                                                           class="form-control" placeholder="Username"
                                                                            required
                                                                           th:field="*{firstname}"
                                                                           aria-invalid="false">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-password">Password</label>
                                                                    <input type="password" id="users-edit-password"
                                                                           class="form-control"
                                                                           th:field="*{password}"
                                                                           placeholder="Password"
                                                                            required
                                                                           aria-invalid="false">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-email2">E-mail</label>
                                                                    <input type="email" id="users-edit-email2"
                                                                           class="form-control" placeholder="Email"
                                                                            required
                                                                           th:field="*{email}"
                                                                           aria-invalid="false">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-status3">Company</label>
                                                                    <select id="users-edit-status3" class="form-control"
                                                                            required th:field="*{}">
                                                                        <option th:value=" ''" >Select Company</option>
                                                                        <option th:each="eachState : ${}" th:value="${}" th:text="${}" ></option>

                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-12 col-md-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-company1">Lastname</label>
                                                                    <input type="text" id="users-edit-company1"
                                                                           class="form-control" placeholder="Lastname"
                                                                            required
                                                                           th:field="*{lastname}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-company">Phone</label>
                                                                    <input type="text" id="users-edit-company"
                                                                           class="form-control"
                                                                           placeholder="9734157843"
                                                                            required
                                                                           th:field="*{phone}"
                                                                    >
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="users-edit-role">Role</label>
                                                                    <select id="users-edit-role" class="form-control"
                                                                            required>
                                                                        <option th:value=" ''">Select Role</option>
                                                                        <option th:each="eachRole : ${}" th:value="${}" th:text="${}"></option>

                                                                    </select>
                                                                </div>
                                                           </div>
&lt;!&ndash;                                                            <div class="form-group">&ndash;&gt;
&lt;!&ndash;                                                                <div class="controls">&ndash;&gt;
&lt;!&ndash;                                                                    <label for="users-edit-status">Status</label>&ndash;&gt;
&lt;!&ndash;                                                                    <select id="users-edit-status" class="form-control"&ndash;&gt;
&lt;!&ndash;                                                                            required>&ndash;&gt;
&lt;!&ndash;                                                                        <option value="">Select Status</option>&ndash;&gt;
&lt;!&ndash;                                                                        <option value="1">Active</option>&ndash;&gt;
&lt;!&ndash;                                                                        <option value="3">Close</option>&ndash;&gt;
&lt;!&ndash;                                                                    </select>&ndash;&gt;
&lt;!&ndash;                                                                </div>&ndash;&gt;
&lt;!&ndash;                                                            </div>&ndash;&gt;
                                                        </div>


                                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                            <button type="submit"
                                                                    class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">
                                                                Save Changes
                                                            </button>
                                                    &lt;!&ndash;        <button type="submit"
                                                                    class="btn btn-danger mb-2 mb-sm-0 mr-sm-2">
                                                                Delete User
                                                            </button> &ndash;&gt;
&lt;!&ndash;                                                            <button type="reset" class="btn btn-secondary" th:href="@{/user/list}">Cancel</button>&ndash;&gt;
                                                            <button class="btn btn-secondary" >Cancel</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                &lt;!&ndash; Account form ends &ndash;&gt;
                                            </div>
                                            &lt;!&ndash; Account content ends &ndash;&gt;


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; Table ends &ndash;&gt;
                </section>

            </div>
        </div>
        &lt;!&ndash; END : End Main Content&ndash;&gt;


        &lt;!&ndash; Scroll to top button &ndash;&gt;
        <button class="btn btn-primary scroll-top" type="button"><i class="ft-arrow-up"></i></button>

    </div>
</div>
&lt;!&ndash; ////////////////////////////////////////////////////////////////////////////&ndash;&gt;

<footer th:replace="fragments :: page_footer"></footer>
<div class="sidenav-overlay"></div>
&lt;!&ndash; BEGIN PAGE LEVEL JS&ndash;&gt;
<script th:src="@{/js/dashboard2.js}"></script>
&lt;!&ndash; END PAGE LEVEL JS&ndash;&gt;
&lt;!&ndash; BEGIN: Custom CSS&ndash;&gt;
<script th:src="@{/assets/js/scripts.js}"></script>
&lt;!&ndash; END: Custom CSS&ndash;&gt;
</body>
&lt;!&ndash; END : Body&ndash;&gt;

</html>

-->
