<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN : Head-->
<head th:replace="fragments :: page_head">
    <title>Sales Invoice List</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/ico/favicon.ico}">
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 1-column auth-page navbar-sticky blank-page"
      data-open="hover" data-menu="horizontal-menu" data-col="1-column">
<!-- ////////////////////////////////////////////////////////////////////////////-->

<div class="wrapper">
    <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <!--Login Page Starts-->
                <section id="login" class="auth-height">
                    <div class="row full-height-vh m-0">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <div class="card overflow-hidden">
                                <div class="card-content">
                                    <div class="card-body auth-img">
                                        <div class="row m-0">
                                            <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                                                <img th:src="@{/img/gallery/open-banking.png}" alt="open-banking" class="img-fluid"
                                                     width="300" height="230">
                                            </div>
                                            <div class="col-lg-6 col-12 px-4 py-3">
                                                <h4 class="mb-1 card-title"><p class="login-page-title">
                                                    Payment Method</p>
                                                </h4>
                                                <p>Please select your prefered payment method.</p>
                                                <form th:action="@{/charge}" method='POST' id='checkout-form'>
                                                    <input type='hidden' th:value='${amount}' name='amount'/>
                                                    <label>Price:<span th:text='${amount/100}'/></label>
                                                    <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
                                                    <script
                                                            src='https://checkout.stripe.com/checkout.js'
                                                            class='stripe-button'
                                                            th:attr='data-key=${stripePublicKey},
                                                                     data-amount=${amount},
                                                                     data-currency=${currency}'
                                                            data-name='Cocoon'
                                                            data-description='SaaS Usage Fee'
                                                            data-image='src/main/resources/images/d_2.png'
                                                            data-locale='auto'
                                                            data-zip-code='false'>
                                                    </script>
                                                </form>
                                                <!-- ************ Legacy Form   ***********-->
                                                <!--                                                <form th:object="${payment}" th:action="@{/payment/newpayment/{id}(id=${payment.id})}" method="post">-->
                                                <!--                                                    <div class="form-group mb-1">-->
                                                <!--                                                        <select th:field="*{institution}" class="custom-select" required="required" id="clientvendor">-->
                                                <!--                                                            <option th:value=" ''" th:text="Select"></option>-->
                                                <!--                                                            <option th:each="institude : ${institutions}" th:value="${institude.id}"-->
                                                <!--                                                                    th:text="${institude.name}"></option>-->
                                                <!--                                                        </select>-->
                                                <!--                                                    </div>-->
                                                <!--                                                    <div class="d-sm-flex justify-content-between mb-3 font-small-2">-->
                                                <!--                                                        <div class="remember-me mb-2 mb-sm-0">-->
                                                <!--                                                            <div class="checkbox auth-checkbox">-->
                                                <!--                                                                <input type="checkbox" id="auth-ligin" class="mb-1"-->
                                                <!--                                                                       name="remember-me">-->
                                                <!--                                                                <label for="auth-ligin"><span>Remember My Choice</span></label>-->
                                                <!--                                                            </div>-->
                                                <!--                                                        </div>-->
                                                <!--                                                    </div>-->
                                                <!--                                                    <div class="d-flex justify-content-between flex-sm-row flex-column">-->
                                                <!--                                                        <button type="submit" class="btn btn-primary">Next</button>-->
                                                <!--                                                    </div>-->
                                                <!--                                                </form>-->
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Login Page Ends-->
            </div>
        </div>
        <!-- END : End Main Content-->
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

<!-- BEGIN VENDOR JS-->
<footer th:replace="fragments :: page_footer"></footer>
<div class="sidenav-overlay"></div>
<!-- BEGIN PAGE LEVEL JS-->
<script th:src="@{/js/dashboard2.js}"></script>
<!-- END PAGE LEVEL JS-->
<!-- BEGIN: Custom CSS-->
<script th:src="@{/assets/js/scripts.js}"></script>
<!-- END: Custom CSS-->
<!-- END: Custom CSS-->
</body>
<!-- END : Body-->

</html>